#descriptionArea {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: clamp(20px, 20vw, 30vw);
    margin-right: clamp(20px, 20vw, 30vw);
    justify-content: space-between;
}

#title {
    /*color: #f8d742;*/
    background: -webkit-linear-gradient(-45deg, rgb(126, 95, 20) 40%, rgb(236, 210, 97) 55%, rgb(126, 95, 20) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 5.3rem;
}

#desc {
    margin-left: clamp(30px, 50px, 100px);
    font-size: 1.5rem;
    line-height: 2.8rem;
    margin-top: 2.7rem;
}

@media screen and (max-width: 850px) {
    #descriptionArea {
        display: block;
    }

    #desc {
        margin-left: 0;
        font-size: 1.2rem;
    }
}